* {
    
}

.main-container{
    width: 90%;
    margin: auto;
    padding: 1em;
    background-color: #ccc8a0;
}

img {
    max-width: 90%;
    max-height: 90%;
}

h1 {
    font-size: 1.3em;
    align-self: flex-end;
}

html {
    vertical-align: top;
}

/****************** CSS RESET ******************/

h1, h2, h3, h4, h5, h6, p, pre, blockquote, form, ul, ol, dl {
    margin: 0px;
    padding: 0px;
}

/****************** HEADER ******************/

.header {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-content: flex-end;
    padding: 1em 2em 1em 2em;;
}

.header-img {
    width: 20%;
    background-color: #fff;
}

/****************** BODY ******************/

.column {
    width: 20%; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: .2em solid #000000;
    margin: .1em;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.col135 {
    background-color: #78aff8;
}

.col24 {
    background-color: #f56969;
}